<div class="login">
    
    <div style="text-align: center">
      <img 
        src="assets/GlassRoots.png" 
        alt="Logo" 
        style="width: 220px; height: auto;" />
    </div>

<div class="login">
    
    <div>
        <h1>
            Welcome to our Beverage sharing platform!
        </h1>
        <h2>
            Please login or create a new account! 
        </h2>
    </div>
<div>
    <mat-form-field class="form">
        <mat-label> Username </mat-label>
        <input matInput type="text" [(ngModel)]="username">
    </mat-form-field> 
</div>

<div>
    <mat-form-field class="form">
        <mat-label> Password </mat-label>
        <input matInput type="password" [(ngModel)]="password">
    </mat-form-field>
</div>

<div>
<button mat-raised-button (click)="login()">Login</button>
</div>
<div>
<button mat-raised-button (click)="createAccount()" style="margin-top: 10px;">Click here to create a new user account!</button>
</div>
</div>
