html, body {
  height: 100%;
  margin: 0; 
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  flex: 1; 
}

.footer {
  background-color: #1e1e1e; 
  color: #f1f1f1; 
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid #444; 
  font-family: Optima, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 1200px;
}

.footer-section {
  flex: 1;
  margin: 10px;
  text-align: center;
}

.footer-section h3 {
  color: #f8f9fa;
  margin-bottom: 10px;
}

.footer-section p, 
.footer-section a {
  color: #dcdcdc;
  margin: 5px 0;
}

.footer-section a:hover {
  color: #007bff; 
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 10px 0;
    text-align: center;
  }
}
