<mat-card class="recipe" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="recipe-name"></div>
      <mat-card-title>
        <b><span>{{recipe.recipeName}}</span></b>
    </mat-card-title>
    
      <mat-card-subtitle>
        <b>Beverage in one word: </b><span>{{recipe.recipeWord}}</span>
      <br>
        <b>Author: </b><span>{{recipe.user.username}}</span>
      </mat-card-subtitle> 
    </mat-card-header>
    <img mat-card-image [src]="recipe.recipePicture" alt="Recipe Image"/>
    <mat-card-content>
      <p>
        <b>Beverage Story: </b><span>{{recipe.recipeStory}}</span>
      </p>
      <p>
        <b>Intructions: </b><span>{{recipe.recipeInstruct}}</span>
      </p>
      <p>
        <b>Ingredients: </b><span>{{recipe.recipeIngredients}}</span> 
      </p>
    </mat-card-content>
    <mat-card-actions>

     


        <mat-slide-toggle 
        [(ngModel)]="isFavorite"
        (change)="onFavoriteChange($event)"
        name="FavoriteRecipe">
        <span class="favorite-beverage-text">Favorit the Beverage!</span>
        </mat-slide-toggle>
          <div *ngIf="canEditOrDelete">
              <button mat-raised-button (click)="deleteRecipe()">Delete</button>
          </div>
          <div *ngIf="canEditOrDelete">
              <button mat-raised-button (click)= "editRecipe(recipe.recipeId)">Edit</button>
          </div>
    </mat-card-actions>
  </mat-card>