.recipe img[mat-card-image] {
    width: 50%; 
    margin: 0 auto; 
    display: block; 
}

.recipe mat-card-content {
    height: 150px; 
    overflow: auto; 
    padding: 15px; 
}

.recipe mat-card-title {
  margin-bottom: 10px;
  color: rgb(206, 204, 204);
  font-family: Optima, sans-serif;
  text-transform: uppercase;
 
}

.recipe mat-card-subtitle {
  margin-bottom: 5px;
  color: rgb(249, 248, 248);
  font-family: Optima, sans-serif;
  
}


.recipe mat-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .recipe {
    display: flex;
    flex-direction: column;
    width: 80%; 
  }
  
  mat-card {
    background-color: rgb(75, 75, 75); 
  }

  .favorite-beverage-text {
    font-family: Optima, sans-serif;
  }