<div class="page">

  <div class="intro-text">
    <h1> Here you can make you recipe even better </h1>
    <h2> .... </h2>
  </div>

<div>
  <mat-form-field class="form">
    <mat-label>Recipe Name</mat-label>
    <input matInput type="text"[(ngModel)]="recipe.recipeName"required
      #recipeName="ngModel"/> <mat-error *ngIf="recipeName.invalid">Recipe name must be provided</mat-error>
  </mat-form-field>
</div>

<div>
  <mat-form-field class="form">
    <mat-label>Beverage in one Word</mat-label>
    <input matInput type="text"[(ngModel)]="recipe.recipeWord"required
      #recipeWord="ngModel"/> <mat-error *ngIf="recipeWord.invalid">Please describe your drink in one word</mat-error>
  </mat-form-field>
</div>

<div>
  <mat-form-field class="form" style="height: 300px;">
    <mat-label>What makes this beverage special to you?</mat-label>
    <textarea
      matInput rows="9" style="resize: vertical;"[(ngModel)]="recipe.recipeStory" required #recipeStory="ngModel"></textarea>
    <mat-error *ngIf="recipeStory.invalid">Recipe Story must be provided</mat-error>
  </mat-form-field>
</div>

<div>
  <mat-form-field class="form" style="height: 300px;">
    <mat-label>Ingredients</mat-label>
    <textarea
      matInput rows="9" style="resize: vertical;"[(ngModel)]="recipe.recipeIngredients" required #recipeIngredients="ngModel"></textarea>
    <mat-error *ngIf="recipeIngredients.invalid">Ingredients must be provided</mat-error>
  </mat-form-field>
</div>

<div>
  <mat-form-field class="form" style="height: 300px;">
    <mat-label>Recipe Instructions</mat-label>
    <textarea
      matInput rows="9" style="resize: vertical;"[(ngModel)]="recipe.recipeInstruct" required #recipeInstruct="ngModel"></textarea>
    <mat-error *ngIf="recipeInstruct.invalid">Instructions must be provided</mat-error>
  </mat-form-field>
</div>

<div *ngIf="recipeName.invalid || recipeInstruct.invalid || recipeIngredients.invalid || recipeStory.invalid" class="error">
  Error in data
</div>
<div *ngIf="!(recipeName.invalid || recipeInstruct.invalid || recipeIngredients.invalid || recipeStory.invalid)">
  <button mat-raised-button (click)="updateRecipe()">Update</button>
</div>


<!--<div>
    id: <span>{{recipe.recipeId}}</span>
</div>
<div>
    Recipe name: <input type="text" [(ngModel)]="recipe.recipeName" required
    #recipeName="ngModel">
    @if (recipeName.invalid) {
        <span>Recipe name must be provided</span>
 }
</div>
<div>
    Instructions: <input type="text" [(ngModel)]="recipe.recipeInstruct"required
    #recipeInstruct="ngModel">
    @if (recipeInstruct.invalid) {
        <span>Recipe instructions must be provided</span>
    }
</div>


@if (recipeName.invalid || recipeInstruct.invalid){
    <div>Error in data</div>
}
@else {
    <button (click)="updateRecipe()">Update</button> 
}

******
Version that worked


<div class="page">

    <div class="intro-text">
      <h1> Here you can make you recipe even better </h1>
      <h2> .... </h2>
    </div>
  
  <div>
    <mat-form-field class="form">
      <mat-label>Recipe Name</mat-label>
      <input matInput type="text"[(ngModel)]="recipe.recipeName"required
        #recipeName="ngModel"
      />
      <mat-error *ngIf="recipeName.invalid">Recipe name must be provided</mat-error>
    </mat-form-field>
  </div>
  
  <div>
    <mat-form-field class="form" style="height: 300px;">
      <mat-label>Ingredients</mat-label>
      <textarea
        matInput rows="9" style="resize: vertical;"[(ngModel)]="recipe.recipeIngredients" required #recipeIngredients="ngModel"></textarea>
      <mat-error *ngIf="recipeIngredients.invalid">Ingredients must be provided</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="form" style="height: 300px;">
      <mat-label>Recipe Instructions</mat-label>
      <textarea
        matInput rows="9" style="resize: vertical;"[(ngModel)]="recipe.recipeInstruct" required #recipeInstruct="ngModel"></textarea>
      <mat-error *ngIf="recipeInstruct.invalid">Instructions must be provided</mat-error>
    </mat-form-field>
  </div>
  
  <div *ngIf="recipeName.invalid || recipeInstruct.invalid || recipeIngredients.invalid" class="error">
    Error in data
  </div>
  <div *ngIf="!(recipeName.invalid || recipeInstruct.invalid || recipeIngredients.invalid)">
    <button mat-raised-button (click)="updateRecipe()">Update</button>
  </div>
 
-->


