<div class="page">

<div>
  Please enter your information!
</div>

<form [formGroup]="userFormGroup" class="form">

<div>
<mat-form-field class="form">
    <mat-label>Name</mat-label>
    <input matInput type="text" [formControl]="name" >
</mat-form-field>
</div>
<div>
<mat-form-field class="form">
    <mat-label>Email Address</mat-label>
    <input matInput type="text" [formControl]="email" >
</mat-form-field>
</div>
<div>
  <mat-form-field class="form">
      <mat-label>Your chosen Username! Be creative!</mat-label>
      <input matInput type="text" [formControl]="username" >
  </mat-form-field>
</div>
<div>
    <mat-form-field class="form">
        <mat-label>Please enter a password.</mat-label>
        <input matInput type="password" [formControl]="password" >
    </mat-form-field>
</div>
<div>
<button class="form_button" mat-raised-button (click)="addUser()">Add</button>
</div>
</form>

</div>

