
html, body { height: 100%; }
body { margin: 0; font-family: Optima, sans-serif !important;}

.form {
  max-width: 500px;
  width: 100%;
  justify-content: center;
  margin: auto;
  margin-top: 10px;  
}

.form-button {
  max-width: 500px;
  width: 50%;
  margin-top:15px
}

.page {
  max-width: 500px;
  margin: auto;
}

mat-grid-list{
  margin: 0 auto; 
  margin-left: 80px;
  display: block;  
}

h1, h2, h3, h4, h5, h6 {
  font-family: Optima, sans-serif !important;
  margin: 0;
}

  button, mat-raised-button, mat-button {
    font-family: Optima, sans-serif !important;
  }


mat-form-field, mat-label, mat-input, input, textarea {
  font-family: Optima, sans-serif !important;
}




