<mat-card class="profile" appearance="outlined">
    <mat-card-title><strong> This is your profile! </strong></mat-card-title>
    <mat-card-content>
        <p><strong>Username:</strong> {{user.username}} (UserId: {{user.userId}})</p>
        <p><strong>Email address:</strong> {{user.email}}</p>
        <p><strong>Your beverage journey and inspirations:</strong> {{user.aboutSection}}</p>
    </mat-card-content>
    
    <mat-card-actions>
        <div> <button mat-raised-button (click)="editUser(user.userId)">Edit</button> </div>
        <div> <button mat-raised-button (click)="OverviewUsers()">Overview of all users</button> </div>
        <div> <button mat-raised-button (click)="LogoutUser()">Logout</button> </div>
    </mat-card-actions>
</mat-card>


<mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let recipe of recipes; let i = index">
     <app-recipe [recipe]="recipe"></app-recipe>
  </mat-grid-tile>
  </mat-grid-list>


  